@import "_vars.scss";

.ended {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(240, 240, 240, 0.95);
  text-align: center;
  color: rgba(40, 62, 80, 0.7);

  .game-over {
    font-size: 28px;
  }

  a {
    font-size: 18px;
    color: white;
    cursor: pointer;
    font-family: 'Moon Bold';

    @include button-style;
  }
}


@media (min-width: 520px) {
  .ended {
    padding-top: 36px;
  }
}