@mixin button-style {
  position: relative;
  background: rgba(40, 62, 80, 0.7);
  border-radius: 0.3em;
  padding: 0.5em;
  box-shadow: 2px 2px rgba(40, 62, 80, 0.3);

  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;

  &:hover {
    background: rgba(184, 64, 28, 0.7);
    box-shadow: 2px 2px rgba(184, 64, 28, 0.3);
  }

  &:active {
    left: 2px;
    top: 2px;
    box-shadow: none;
  }
}
